  {% load static %}
  <link rel="stylesheet" href= "{% static 'bootstrap/css/bootstrap.min.css' %}"/>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Товар</h2>
          <p class="card-text">
            Это лучший товар на рынке. Как и остальные товары в нашем каталоге
          </p>
        </div>
      </div>
    </article>
  </div>